bin/
obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.user
*.db-journal
*.db-wal
*.sqlite
*.sqlite-journal

*.log
*.tmp
publish/

*.pfx
*.local

/WebAppSportFoodStore/bin
/WebAppSportFoodStore/obj
/ChatHubService/bin
/ChatHubService/obj
/APISportFoodStore/bin
/APISportFoodStore/obj


